@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");


body{
	font-family: 'Merriweather', serif;
	font-size: 15px;
	margin:0px;
}

h1{
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-weight: bolder;
}

h2{
	font-family: 'Merriweather', serif;
	font-size: 20px;
	font-weight: lighter;
}

h3{
	font-family: 'Merriweather', serif;
	font-size: 15px;
	font-weight: normal;
}

a{
	text-decoration: none;
	font-family: 'Merriweather', serif;
}