.banner{
	background-image: url("../../images/background.jpg");
	color:black;
	padding: 250px 0px;
	background-size: cover;
	background-position: left;
}



.banner h1{
	color:#C04441;
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-weight: bolder;
}

.banner h2{
	color: #6d6d6d;
	font-family: 'Merriweather', serif;
	font-size: 20px;
	font-weight: lighter;
}

.banner h3{
	color: #8e8d8d;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	font-weight: normal;
}

.banner p{
	font-family: 'Merriweather', serif;
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 50px;
}